<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
      <meta charset="utf-8" />
      <link rel="shortcut icon" type="image/png" href="{{ SITEURL }}/images/favicon.png" />
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
      {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
      {% endif %}
      {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
      {% endif %}
      {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
      {% endif %}
      {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
      {% endif %}
      {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{ tag }} Atom Feed" />
      {% endif %}
      {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} {{ tag }} RSS Feed" />
      {% endif %}
    {% endblock %}
  </head>

  <body>
    <!-- {% include 'github.html' %} -->
    <nav>
      <ul>
        <li>
          <a href="{{ SITEURL }}/" class="navbar-brand">
            {% if SITELOGO %}
              <img id="logo" alt="{{ SITENAME }}"
                   width="{{ SITELOGO_WIDTH }}" height="{{ SITELOGO_HEIGHT}}"
                   src="{{ SITEURL }}/{{ SITELOGO }}" />
            {% endif %}
          </a>
        </li>

        {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in PAGES %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>{% if not loop.last %} :{% endif %}</li>
          {% endfor %}
        {% endif %}
        {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% if categories|length > 1 %}
            <li>: <a href="{{ SITEURL }}/categories.html">Categories</a></li>
          {% endif %}
        {% endif %}
      </ul>
    </nav>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
