{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/slideshow.css" />
{% endblock %}
{% block title %}
  {% if page.title %}
    {{ page.title }}
  {% else %}
    {{ SITENAME }}
  {% endif %}
{% endblock %}
{% block content %}        
  <header>
    {% if page.title %}
      <h1><a href="{{ SITEURL }}/pages/{{ page.slug }}.html" id="page-title">{{ page.title }}</a></h1>
    {% endif %}
  </header>
  {% if page.gallery %}
    <div id="slideshow">
      {% for photo_set in page.gallery.photos %}
        <img src="{{ SITEURL }}/{{ photo_set['slider'].src }}" alt="{{ photo_set['slider'].src }}"  />
      {% endfor %}
    </div>
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/slideshow.js"></script>
  {% endif %}
  {{ page.content }}
{% endblock %}
