/* Page Style */

body {
	background: #FFF;
	color: #222;
	font-style: normal;
	line-height: 1.6em;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1em 0 1em;
	max-width: 60em;
	font-family: "DejaVu Serif",Palatino,serif;
	text-rendering: optimizeLegibility;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:link {
	color: #546E00;
}

a:visited {
	color: #344E00;
}

a:hover {
	text-decoration: underline;
}

.biglink {
	font-size: large;
	font-family: "DejaVu Sans",Helvetica,Arial,sans-serif;
}

.siglink {
	font-style: italic;
    font-size: x-small;
}

img {
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.0125em;
	color: #444;
	font-family: "DejaVu Sans",Helvetica,Arial,sans-serif;
	margin: 1em 0 0.5em 0;
	font-weight: 400;
}

h2 {
	font-size: 160%;
}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 120%;
	font-weight: 500;
}

h5, h6 {
	font-size: 110%;
	font-weight: 600;
}

table {
	border-collapse: collapse;
	border-style: hidden;
	margin: 0.5em;
	border: 0;
}

th {
	vertical-align: text-top;
	background-color: #F8F8F8;
}

td, th {
	border: 1px solid #ddd;
	padding: 0.25em 0.5em 0.25em 0.5em;
}

th {
	font-weight: bold;
	text-align: left;
}

time, #sitename {
	color: #666;
	font-size: small;
	font-variant: small-caps;
}

img {
	border: none;
}

blockquote {
	color: #333;
	margin: 0px;
	padding: 0 4em 0 4em;
}

p {
	text-indent: 0px;
}

p.caption {
	font-size: 80%;
	margin-top: 0;
}

div.article h2 {
	margin-bottom: 0;
}

.postmeta {
	font-size: small;
	font-style: italic;
	color: #666;
}

hr {
	height: 0;
	border: none;
	border-top: 1px solid #DDD;
	margin: 2em 0;
}

ul, ol {
	padding: .25em 0em 0 3em;
}

li {
	list-style-type: circle;
}

strong {
	font-weight: bold;
}

tt, pre {
	font-family: "DejaVu Sans Mono",monospace,fixed;
	line-height: 1.2em;
}

pre {
	font-size: 0.8em;
	overflow: auto;
	padding: 0.25em;
	margin: 0.5em;
	line-height: 1.5em;
}

nav {
	border-bottom: 1px solid #DDD;
	padding: 0.75em 0;
	vertical-align: baseline;
	font-size: small;
}

nav a, nav a:link, nav a:visited {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
	font-family: "DejaVu Sans",Helvetica,Arial,sans-serif;
}

nav li {
	display: inline;
	margin-right: 0.75em;
}

#logo {
	vertical-align: baseline;
}

header a#page-title {
	color: #444;
}

#content {
	padding: 0;
}

.highlight {
	font-family: "DejaVu Sans Mono",monospace,fixed;
	border: solid 1px #eee;
	color: #444;
	border-radius: 6px;
}

#mainlist {
	text-align: center;
	margin: 0;
	padding: 0;
}

#mainlist li {
	background-color: #222;
	color: #FFF;
	font-weight: bold;
	background: linear-gradient(to bottom, #444 0%, #000 100%);
	border: solid 2px #444;
	border-radius: 6px;
	display: inline-block;
	list-style-type: none;
	margin: 0.25em;
	padding: 0.5em;
	white-space: nowrap;
	vertical-align: middle;
}

#mainlist li a, #mainlist li a:visited {
	color: #FFF;
}

/* Pygments Style */

.hll { background-color: #222222 }
.c { color: #000080 } /* Comment */
.err { color: #cccccc; border: 1px solid #FF0000 } /* Error */
.g { color: #cccccc } /* Generic */
.k { color: #cdcd00 } /* Keyword */
.l { color: #cccccc } /* Literal */
.n { color: #cccccc } /* Name */
.o { color: #3399cc } /* Operator */
.x { color: #cccccc } /* Other */
.p { color: #cccccc } /* Punctuation */
.cm { color: #000080 } /* Comment.Multiline */
.cp { color: #000080 } /* Comment.Preproc */
.c1 { color: #000080 } /* Comment.Single */
.cs { color: #cd0000; font-weight: bold } /* Comment.Special */
.gd { color: #cd0000 } /* Generic.Deleted */
.ge { color: #cccccc; font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00cd00 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { color: #cccccc; font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #cdcd00 } /* Keyword.Constant */
.kd { color: #00cd00 } /* Keyword.Declaration */
.kn { color: #cd00cd } /* Keyword.Namespace */
.kp { color: #cdcd00 } /* Keyword.Pseudo */
.kr { color: #cdcd00 } /* Keyword.Reserved */
.kt { color: #00cd00 } /* Keyword.Type */
.ld { color: #cccccc } /* Literal.Date */
.m { color: #cd44cd } /* Literal.Number */
.s { color: #cd4444 } /* Literal.String */
.na { color: #cccccc } /* Name.Attribute */
.nb { color: #cd00cd } /* Name.Builtin */
.nc { color: #00cdcd } /* Name.Class */
.no { color: #cccccc } /* Name.Constant */
.nd { color: #cccccc } /* Name.Decorator */
.ni { color: #cccccc } /* Name.Entity */
.ne { color: #666699; font-weight: bold } /* Name.Exception */
.nf { color: #cccccc } /* Name.Function */
.nl { color: #cccccc } /* Name.Label */
.nn { color: #cccccc } /* Name.Namespace */
.nx { color: #cccccc } /* Name.Other */
.py { color: #cccccc } /* Name.Property */
.nt { color: #cccccc } /* Name.Tag */
.nv { color: #00cdcd } /* Name.Variable */
.ow { color: #cdcd00 } /* Operator.Word */
.w { color: #cccccc } /* Text.Whitespace */
.mf { color: #cd00cd } /* Literal.Number.Float */
.mh { color: #cd00cd } /* Literal.Number.Hex */
.mi { color: #cd00cd } /* Literal.Number.Integer */
.mo { color: #cd00cd } /* Literal.Number.Oct */
.sb { color: #cd4444 } /* Literal.String.Backtick */
.sc { color: #cd4444 } /* Literal.String.Char */
.sd { color: #cd4444 } /* Literal.String.Doc */
.s2 { color: #cd4444 } /* Literal.String.Double */
.se { color: #cd4444 } /* Literal.String.Escape */
.sh { color: #cd4444 } /* Literal.String.Heredoc */
.si { color: #cd4444 } /* Literal.String.Interpol */
.sx { color: #cd4444 } /* Literal.String.Other */
.sr { color: #cd4444 } /* Literal.String.Regex */
.s1 { color: #cd4444 } /* Literal.String.Single */
.ss { color: #cd4444 } /* Literal.String.Symbol */
.bp { color: #cd00cd } /* Name.Builtin.Pseudo */
.vc { color: #00cdcd } /* Name.Variable.Class */
.vg { color: #00cdcd } /* Name.Variable.Global */
.vi { color: #00cdcd } /* Name.Variable.Instance */
.il { color: #cd00cd } /* Literal.Number.Integer.Long */
